<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <% include ./partials/header %>
        <h1>Express movie : le site des cinéphiles</h1>
        <div>
            Êtes vous plutôt films ou séries? Peu importe, bientôt vous trouverez votre bonheur!
        </div>
        <% include ./partials/footer %>
</body>

</html>